<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Winter-Eport</title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
	<link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
	<script src="https://kit.fontawesome.com/1c16db972c.js" crossorigin="anonymous"></script>
</head>

<body>
	<section id="landing-page">
		<nav>
			<figure>
				<a href="/">
					<h1 class="logo-title">M.W</h1>
				</a>
			</figure>
			<ul class="nav__link--list">
				<li class="nav__link">
					<a href="/" class="
            nav__link--anchor
            link__hover-effect
            link__hover-effect--black
          ">About</a>
				</li>
				<li class="nav__link">
					<a href="/projects" class="
            nav__link--anchor
            link__hover-effect
            link__hover-effect--black
          ">Projects</a>
				</li>
				<li class="nav__link">
					<a href="/collaboration" class="
				            nav__link--anchor
				            link__hover-effect
				            link__hover-effect--black
				          ">Collab</a>
				</li>
				{{#unless isLoggedIn}}
				<li class="nav__link" onclick="toggleModal()">
					<a id="contact_nav" href="#" class="
            nav__link--anchor
            link__hover-effect
            link__hover-effect--black
          ">Contact</a>
				</li>
				<li class="nav__link click">
					<a href="/login" class="
				            nav__link--anchor
				            link__hover-effect
				            link__hover-effect--black
				          ">Login</a>
				</li>
				{{else}}
				<li class="nav__link click">
					<a href="/logout" class="
								            nav__link--anchor
								            link__hover-effect
								            link__hover-effect--black
								          ">Logout</a>
				</li>
				{{/unless}}
			</ul>
		</nav>
		<div class="modall">
			<div class="modall__half modall__about">
				<h3 class="modall__title modall__title--about">Here's a bit about me.</h3>
				<h4 class="modall__sub-title modall__sub-title--about">Software Engineer.</h4>
				<p class="modall__para">
					I'm a 22 year-old <b class="orange">software engineering</b> student with no-experience developing
					websites for tech companies like <b class="orange">Google</b> and <b class="orange">Facebook</b>.
					Below are my technology stacks:
				</p>
				<div class="modall__languages">

					<figure class="modall__language">
						<img class="modall__language--img"
							src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/240px-HTML5_Badge.svg.png"
							alt="HTML logo">
						<span class="language__name">HTML</span>
					</figure>
					<figure class="modall__language">
						<img class="modall__language--img" src="https://cdn.iconscout.com/icon/free/png-256/css-131-722685.png"
							alt="CSS logo">
						<span class="language__name">CSS</span>
					</figure>
					<figure class="modall__language">
						<img class="modall__language--img" src="https://cdn.iconscout.com/icon/free/png-256/javascript-1-225993.png"
							alt="JS logo">
						<span class="language__name">JavaScript</span>
					</figure>
				</div>
			</div>
			<div class="modall__half modall__contact">
				<i class="icon icon-cross modall__exit click" onclick="toggleModal()"></i>
				<h3 class="modall__title modall__title--contact">
					Let's have a chat!
				</h3>
				<h3 class="modall__sub-title modall__sub-title--contact">
					I'm currently open to new opportunities.
				</h3>
				<form id="contact__form" onsubmit="contact(event)">
					<div class="form__item">
						<label class="form__item--label">Name</label>
						<input class="input" name="user_name" type="text" required></input>
					</div>
					<div class="form__item">
						<label class="form__item--label">Email</label>
						<input class="input" name="user_email" type="email" required></input>
					</div>
					<div class="form__item">
						<label class="form__item--label">Message</label>
						<textarea class="input" name="message" type="text" required></textarea>
					</div>
					<button id="contact__submit" class="form__submit">
						Send it my way
					</button>
				</form>
				<div class="modall__overlay modall__overlay--loading">
					<i class="fas fa-spinner"></i>
				</div>
				<div class="modall__overlay modall__overlay--success">
					Thanks for the message! Looking forward to speaking to you soon.
				</div>
			</div>
		</div>
		<main>{{{body}}}</main>
		{{#unless hideFooter}}
		<footer>
			<a href="#">
				<button class="mail__btn click" onclick="toggleModal()">
					<i class="icon icon-message"></i>
				</button>
			</a>
			<div class="container">
				<div class="row footer__row">
					<a href="#" class="footer__anchor">
						<figure class="footer__logo">
							<img src="/public/assets/logo.png" class="footer__logo--img" alt="" />
						</figure>
						<span class="footer__logo--popper">
							Top
							<i class="icon icon-arrow-up"></i>
						</span>
					</a>
					<div class="footer__social--list">
						<a href="https://github.com/WinterBoii" class="
			          footer__social--link
			          link__hover-effect
			          link__hover-effect--white
			        ">
							GitHub
						</a>
						<a href="https://www.linkedin.com/in/mohammad-winter/" target="_blank" class="
			          footer__social--link
			          link__hover-effect
			          link__hover-effect--white
			        ">
							LinkedIn
						</a>
						<a href="public/assets/Resume.pdf" target="_blank" class="
			          footer__social--link
			          link__hover-effect
			          link__hover-effect--white
			        ">
							Resume
						</a>
					</div>
					<div class="footer__copyright">Copyright &copy; 2022 Mohammad Winter</div>
				</div>
		</footer>
		{{/unless}}
</body>

</html>