<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="public/css/spectre.css" />
		<link rel="stylesheet" href="public/css/projects.css" />
		<link rel="stylesheet" href="public/css/styles.css" />
		<link rel="stylesheet" href="public/css/footer.css">
		<script
			src="https://kit.fontawesome.com/c8e4d183c2.js"
			crossorigin="anonymous"
		></script>
		<title>Winter-Eport</title>
	</head>

	<body>
		<nav>
			<figure>
				<!-- <img id="personal-logo" src="assets/logo.png" /> -->
				<h1 class="logo-title">M.W</h1>
			</figure>
			<ul class="nav__link-list">
				<li class="nav__link">
					<a
						href="/"
						class="nav__link--anchor link__hover-effect link__hover-effect--black"
					>Start</a>
				</li>
				<li class="nav__link">
					<a
						href="/projects"
						class="nav__link--anchor link__hover-effect link__hover-effect--black"
					>Projects</a>
				{{!-- </li>
				<li class="nav__link">
					<a
						href="#"
						class="nav__link--anchor link__hover-effect link__hover-effect--black"
					>Contact</a>
				</li> --}}
				<li class="nav__link">
					<a
						href="/createProject"
						class="nav__link--anchor link__hover-effect link__hover-effect--black"
					>Create Project</a>
				</li> 
			</ul>
		</nav>
		<img src="/public/assets/circle.svg" class="shape shape--0">
		<img src="/public/assets/circle.svg" class="shape shape--1">
		<img src="/public/assets/squiggly.svg" class="shape shape--2">
		<img src="/public/assets/circle.svg" class="shape shape--3">
		<img src="/public/assets/triangle.svg" class="shape shape--4">
		<img src="/public/assets/circle.svg" class="shape shape--5">
		<img src="/public/assets/squiggly.svg" class="shape shape--6">
		<img src="/public/assets/circle.svg" class="shape shape--7">
		<img src="/public/assets/semi circle.svg" class="shape shape--8">
	{{{body}}}
	</body>
	<footer>
		<div class="container">
			<div class="row footer__row">
				<a href="#" class="footer__anchor">
					<figure class="footer__logo">
						<img src="public/assets/logo.png" class="footer__logo--img" alt="">
					</figure>
				<span class="footer__logo--popper">
					Top
					<i class="fas fa-arrow-up"></i>
				</span>
				</a>
					<div class="footer__social--list">
				<a href="https://github.com/WinterBoii" class="
					footer__social--link
					link__hover-effect
					link__hover-effect--white
					">
					GitHub
				</a>
				<a href="https://www.linkedin.com/in/mohammad-winter/" target="_blank" class="
				footer__social--link
				link__hover-effect
				link__hover-effect--white
				">
					LinkedIn
				</a>
				<a href="#" onclick="toggleModal()" class="
				footer__social--link
				link__hover-effect
				link__hover-effect--white
				">
					Contact
				</a>
				<a href="public/assets/Resume.pdf" target="_blank" class="
				footer__social--link
				link__hover-effect
				link__hover-effect--white
				">
					Resume
				</a>
				</div>
				<div class="footer__copyright">Copyright &copy; 2022 Mohammad Winter</div>
			</div>
		</div>
		<a href="#">
			<button class="mail__btn click">
				<i class="fas fa-envelope"></i>
			</button>
		</a>
		<a href="#" class="scroll">
			<div class="scroll_icon click"></div>
		</a>
  	</footer>
</html>