<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Winter-Eport</title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
	<link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
	<script src="https://kit.fontawesome.com/1c16db972c.js" crossorigin="anonymous"></script>
</head>

<body>
	<section id="landing-page">
		<nav>
			<figure>
				<a href="/">
					<h1 class="logo-title">Moe-Fo</h1>
				</a>
			</figure>
			<ul class="nav__link--list">
				<li class="nav__link">
					<a href="/" class="
            nav__link--anchor
            link__hover-effect
            link__hover-effect--black
          ">Home</a>
				</li>
				<li class="nav__link">
					<a href="/projects" class="
            nav__link--anchor
            link__hover-effect
            link__hover-effect--black
          ">Projects</a>
				</li>
				<li class="nav__link">
					<a href="/collaborations" class="
				    nav__link--anchor
				    link__hover-effect
				    link__hover-effect--black
				  ">Collaboration</a>
				</li>
				<li class="nav__link">
					<a href="/guestBook" class="
				  	nav__link--anchor
				    link__hover-effect
				    link__hover-effect--black
				  	">Guestbook</a>
				</li>
				{{#unless isLoggedIn}}
				<li class="nav__link click">
					<a href="/login" class="
				            nav__link--anchor
				            link__hover-effect
				            link__hover-effect--black
				          ">Login</a>
				</li>
				{{else}}
				<li class="nav__link click">
					<a href="/logout" class="
								            nav__link--anchor
								            link__hover-effect
								            link__hover-effect--black
								          ">Logout</a>
				</li>
				{{/unless}}
			</ul>
		</nav>
		<main>
			{{{body}}}
		</main>
		{{#unless hideFooter}}
		<footer>
			<a href="/contact">
				<button class="mail__btn click">
					<i class="icon icon-message"></i>
				</button>
			</a>
			<div class="container">
				<div class="row footer__row">
					<a href="#" class="footer__anchor">
						<figure class="footer__logo">
							<img src="/public/assets/logo.png" class="footer__logo--img" alt="" />
						</figure>
						<span class="footer__logo--popper">
							Top
							<i class="icon icon-arrow-up"></i>
						</span>
					</a>
					<div class="footer__social--list">
						<a href="https://github.com/WinterBoii" class="
			          footer__social--link
			          link__hover-effect
			          link__hover-effect--white
			        ">
							GitHub
						</a>
						<a href="https://www.linkedin.com/in/mohammad-winter/" target="_blank" class="
			          footer__social--link
			          link__hover-effect
			          link__hover-effect--white
			        ">
							LinkedIn
						</a>
						<a href="/contact" class="
			          footer__social--link
			          link__hover-effect
			          link__hover-effect--white
			        ">
							Contact
						</a>
					</div>
					<div class="footer__copyright">Copyright &copy; 2022 Mohammad O</div>
				</div>
		</footer>
		{{/unless}}
</body>

</html>