<section id="contact">
  <div class="row">
    <div class="modall--open modall">
      <div class="modall__half modall__about modall--open">
        <h3 class="modall__title modall__title--about">Here's a bit about me.</h3>
        <h4 class="modall__sub-title modall__sub-title--about">Software Engineer.</h4>
        <p class="modall__para">
          I'm a 22 year-old <b class="orange">software engineering</b> student with no-experience developing
          websites for tech companies like <b class="orange">Google</b> and <b class="orange">Facebook</b>.
          Below are my technology stacks:
        </p>
        <div class="modall__languages">

          <figure class="modall__language">
            <img class="modall__language--img"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/240px-HTML5_Badge.svg.png"
              alt="HTML logo">
            <span class="language__name">HTML</span>
          </figure>
          <figure class="modall__language">
            <img class="modall__language--img" src="https://cdn.iconscout.com/icon/free/png-256/css-131-722685.png"
              alt="CSS logo">
            <span class="language__name">CSS</span>
          </figure>
          <figure class="modall__language">
            <img class="modall__language--img" src="https://cdn.iconscout.com/icon/free/png-256/javascript-1-225993.png"
              alt="JS logo">
            <span class="language__name">JavaScript</span>
          </figure>
        </div>
      </div>
      <div class="modall__half modall__contact">
        <h3 class="modall__title modall__title--contact">
          Let's have a chat!
        </h3>
        <h3 class="modall__sub-title modall__sub-title--contact">
          I'm currently open to new opportunities.
        </h3>
        <form id="contact__form" action="mailto:obmu20xw@student.ju.se?subject=Hello%20again" target="_top">
          <div class="form__item">
            <label class="form__item--label">Name</label>
            <input class="input" name="user_name" type="text" required></input>
          </div>
          <div class="form__item">
            <label class="form__item--label">Email</label>
            <input class="input" name="user_email" type="email" required></input>
          </div>
          <button id="contact__submit" class="form__submit">
              Send it my way
            </button></a>
        </form>
      </div>
    </div>
  </div>


</section>