<section id="create-project">
	<div class="container">
		<div class="row">
			<h1 class="section__title">Create Project</h1>
			<form action="/views/createProject" method="post" class="form">
				<div class="form-group col-5">
					<label class="form-label pName" for="form-input">Title</label>
					<input class="form-input" type="text" placeholder="Name" />
				</div>
				<div class="form-group col-5">
					<label class="form-label pName" for="form-input">Subtitle</label>
					<input class="form-input" type="text" placeholder="Name" />
				</div>
				<div class="form-group col-5">
					<label class="form-label" for="input-description">Description</label>
					<textarea
						class="form-input"
						id="input-description"
						placeholder="Textarea"
						rows="5"
					></textarea>
				</div>
				<div class="form-group ">
					<label class="form-label pName" for="form-input">Background Image</label>
					<input class="form-input file" type="File" placeholder="File" />
				</div>
				<button class="btn btn-primary col-1">Submit</button>
			</form>
		</div>
	</div>
</section>