<section>
  <div class="container">
    <div class="row">
      <div class="project-wrapper">
        <img class="project__img" src="/public/Images/{{bgImage}}" />
        <h1>Hello</h1>
      </div>
    </div>
  </div>
</section>