<header class="header">
	<div class="header__content"></div>
	<h1 class="title">Hey</h1>
	<h1 class="title orange">I'm Mohammad.</h1>
	<p class="header__para">
		I'm a
		<b class="orange">Software Engineer Student</b>
		with a strong passion for creating web applications with great user
		experiences.
		<br />
		Here's a bit more
		<a href="/contact"><b class="orange click">about me</b></a>.
	</p>
	<div class=" social__list">
		<a href="https://github.com/WinterBoii" target="_blank" class="social__link click">
			<i class="uit uit-github-alt"></i>
		</a>
		<a href="https://www.linkedin.com/in/mohammad-winter/" target="_blank" class="social__link click">
			<i class="uit uit-linkedin-alt"></i>
		</a>
		<a href="public/assets/Resume.pdf" target="_blank" class="social__link click">
			<i class="fa-solid fa-file-pdf"></i>
		</a>
	</div>
</header>
</section>