<div class="container">
	<div class="row">
		<h1 class="section__title">
			Here are some of my
			<span class="purple">projects</span>
		</h1>
		<ul class="project__list">
			<li class="project">
				<div class="project__wrapper">
					<img src="#" alt="" class="project__img" />
					<div class="project__wrapper--bg"></div>
					<div class="project__description">
						<h3 class="project__description--title">
							Placeholder
						</h3>
						<h4 class="project__description--sub-title">
							Html, CSS, JavaScript, Vue, Vuex
						</h4>
						<p class="project__description">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
							aperiam voluptates dignissimos praesentium. Ut, ipsam alias
							repudiandae temporibus officiis eius, doloremque saepe quis in
							recusandae dolorem! Totam praesentium quasi minima.
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>